@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  .dark-mode-disabled {
    --background: 0 0% 100%;
    --foreground: 266 80% 20%;

    --muted: 266 40% 96%;
    --muted-foreground: 266 40% 40%;

    --popover: 0 0% 100%;
    --popover-foreground: 266 80% 20%;

    --card: 0 0% 100%;
    --card-border: 266 50% 90%;
    --card-border-tint: 266 100% 64%;
    --card-foreground: 266 80% 20%;

    --field-card: 266 60% 95%;
    --field-card-border: 266 50% 80%;
    --field-card-foreground: 266 80% 20%;

    --widget: 266 50% 98%;
    --widget-foreground: 266 40% 20%;

    --border: 266 50% 85%;
    --input: 266 50% 95%;

    --primary: 266 100% 64%;
    --primary-foreground: 0 0% 100%;

    --secondary: 266 50% 90%;
    --secondary-foreground: 266 80% 20%;

    --accent: 266 50% 95%;
    --accent-foreground: 266 80% 20%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 100%;

    --ring: 266 100% 64%;

    --radius: 0.5rem;

    --warning: 39 100% 64%;
    --gold: 47.9 95.8% 53.1%;

    --recipient-purple: 266 100% 64%;

    /* Base Neutrals */
    --new-neutral-50: 0 0% 96%;
    --new-neutral-100: 0 0% 91%;
    --new-neutral-200: 0 0% 82%;
    --new-neutral-300: 0 0% 69%;
    --new-neutral-400: 0 0% 53%;
    --new-neutral-500: 0 0% 43%;
    --new-neutral-600: 0 0% 36%;
    --new-neutral-700: 0 0% 31%;
    --new-neutral-800: 0 0% 27%;
    --new-neutral-900: 0 0% 24%;
    --new-neutral-950: 0 0% 9%;

    /* Base White */
    --new-white-50: 0 0% 5%;
    --new-white-60: 0 0% 6%;
    --new-white-100: 0 0% 10%;
    --new-white-200: 0 0% 20%;
    --new-white-300: 0 0% 30%;
    --new-white-400: 0 0% 40%;
    --new-white-500: 0 0% 50%;
    --new-white-600: 0 0% 60%;
    --new-white-700: 0 0% 80%;
    --new-white-800: 0 0% 90%;
    --new-white-900: 0 0% 100%;
  }

  .dark:not(.dark-mode-disabled) {
    --background: 266 30% 10%;
    --foreground: 0 0% 100%;

    --muted: 266 30% 25%;
    --muted-foreground: 266 30% 80%;

    --popover: 266 30% 15%;
    --popover-foreground: 266 100% 85%;

    --card: 266 30% 15%;
    --card-border: 266 30% 25%;
    --card-border-tint: 266 100% 64%;
    --card-foreground: 0 0% 95%;

    --widget: 266 30% 18%;
    --widget-foreground: 266 30% 90%;

    --border: 266 30% 40%;
    --input: 266 30% 35%;

    --primary: 266 100% 70%;
    --primary-foreground: 0 0% 100%;

    --secondary: 266 30% 20%;
    --secondary-foreground: 266 100% 85%;

    --accent: 266 30% 25%;
    --accent-foreground: 266 100% 85%;

    --destructive: 0 87% 62%;
    --destructive-foreground: 0 87% 19%;

    --ring: 266 100% 70%;

    --radius: 0.5rem;

    --warning: 39 100% 64%;
    --gold: 47.9 95.8% 53.1%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}

/* Print */
.print-provider {
  @page {
    margin: 1in;
    size: A4;
  }
}

/* Gradient border support */
.gradient-border-mask::before {
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
}

/* Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  background: transparent;
  border-radius: 10px;
  scrollbar-gutter: stable;
}

/* Swagger dark fix */
.swagger-dark-theme .swagger-ui {
  filter: invert(88%) hue-rotate(180deg);
}

.swagger-dark-theme .swagger-ui .microlight {
  filter: invert(100%) hue-rotate(180deg);
}
